<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:fragment="header">
        <title>Vote App</title>
        <meta charset="UTF-8"/>
   <!--      <meta th:name="_csrf" th:content="${_csrf.token}" />
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
 -->
 
        <link href="#" th:href="@{/css/bootstrap/css/bootstrap.css}" rel="stylesheet" />
          <link href="#" th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet" />
        
        
    </head>
    <body >

        <div th:fragment="navbar" class="">
            <!-- Modals-->
            <div class="modal fade" id="dialog-sm" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="dialog-lg" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="dialog" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>



            <!-- Menu principal -->
            <nav class="navbar navbar-inverse " id="menu-principal" >
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand no-change" th:href="@{/inicio}">
                            <img th:src="@{/imgs/logo_sa.png}" class="img-responsive " style="margin-top: -24px;" height="70" width="70" alt="" />
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                        <ul class="nav navbar-nav">
                            <li class="dropdown-main" sec:authorize="hasRole('ROLE_COORDINADOR_UFI')">
                                <a href="#" title="Aplicación de Libro de Banco" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Banco <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ><a href="#" th:href="${(#mvc.url('BC#listar')).build()}" title="Gestión de Bancos">Bancos</a></li>
                                    <li><a href="#" th:href="${(#mvc.url('CBC#listar')).build()}" title="Gestión de cuentas bancarias">Cuentas bancarias</a></li>
                                    <li class="dropdown-submenu" >
                                        <a href="#" title="Gestión de Libros de Banco" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Libros de banco </a>
                                        <ul class="dropdown-menu " role="menu">
                                            <li><a  href="#" th:href="${(#mvc.url('LBC#listar')).build()}" title="registros de libros de banco">Listar libros  </a></li>
                                            <li><a  href="#" th:href="${(#mvc.url('TC#consultarTransaccion')).build()}" title="Consultar transacciones">Consultar transacciones</a></li>
                                            <li><a  href="#" th:href="@{/banco/conciliacion/conciliar}" title="Realizar Conciliación bancaria">Conciliación Bancaria</a></li>
                                            <li><a  href="#" th:href="@{/banco/conciliacion/listarTransaccionAuditar}" title="Auditar transacciones conciliadas">Auditar transacciones</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-main" sec:authorize="hasRole('ROLE_COORDINADOR_UFI') or hasRole('ROLE_UNI_SOLICITANTE') or hasRole('ROLE_SECRETARIA')">
                                <a href="#"  title="Aplicación de Gestión de Compras" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Compras <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">

                                    <li class="dropdown-submenu" sec:authorize="hasRole('ROLE_COORDINADOR_UFI')">
                                        <a href="#" title="Aplicación de compras" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Presupuesto</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" th:href="@{/compra/presupuesto/crear/presupuestoGeneral}" title="Gestion presupuesto General">Gestionar presupuesto General</a></li>
                                            <li ><a href="#" th:href="@{/compra/presupuesto/crear/presupuesto}">Registrar Presupuesto</a></li>


                                        </ul>
                                    </li>
                                    <li sec:authorize="hasRole('ROLE_COORDINADOR_UFI')"><a href="#" th:href="${(#mvc.url('AC#listar')).build()}" title="Gestión de articulos para solicitud">Articulos</a></li>
                                    <li class="dropdown-submenu" >
                                        <a href="#" title="Aplicación solicitudes de suministro" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Solicitud suministro</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li sec:authorize="hasRole('ROLE_COORDINADOR_UFI') or hasRole('ROLE_UNI_SOLICITANTE') or hasRole('ROLE_SECRETARIA')"><a href="#" th:href="@{/compra/solicitud/suministro/crear}" title="Gestion de descuentos">Crear solicitud suministro</a></li>
                                            <li  sec:authorize="hasRole('ROLE_COORDINADOR_UFI') or hasRole('ROLE_UNI_SOLICITANTE') or hasRole('ROLE_SECRETARIA')"><a href="#" th:href="@{/compra/solicitud/suministro/listar}" title="Gestión de libros de banco">Listar solicitud suministro</a></li>
                                            <li sec:authorize="hasRole('ROLE_COORDINADOR_UFI') or hasRole('ROLE_SECRETARIA')"><a href="#" th:href="@{/compra/solicitud/suministro/listar/gestionar}" title="Gestión proceso de compra">Gestionar proceso de compra</a></li>

                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" sec:authorize="hasRole('ROLE_COORDINADOR_UFI') or hasRole('ROLE_SECRETARIA')">
                                        <a href="#" title="Aplicación gestión de cuentas contables" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cuentas contables</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" th:href="${(#mvc.url('MC#listar')).build()}" title="Consultar disponibilidad financiera">Consultar disponibilidad financiera</a></li>
                                            <li><a href="#" th:href="${(#mvc.url('ACC#adicionarRubro')).build()}" title="Modificar montos entre rubros">Modificar montos de diferentes rubros</a></li>
                                            <li><a href="#" th:href="${(#mvc.url('ACC#adicionar')).build()}" title="Modificar montos entre especificos">Modificar montos del mismo rubro</a></li>

                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" sec:authorize="hasRole('ROLE_COORDINADOR_UFI')  or hasRole('ROLE_SECRETARIA')">
                                        <a href="#" title="Aplicación gestión de proveedores y criterios" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Proveedores y criterios evaluativos</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" th:href="${(#mvc.url('CEC#listar')).build()}" title="Consultar criterios evaluativos">Consultar criterios evaluativos</a></li>
                                            <li><a href="#" th:href="@{/compra/proveedor/listar}" title="Consultar proveedores">Consultar proveedores</a></li>

                                        </ul>
                                    </li>
<!--                                    <li class="dropdown-submenu" sec:authorize="hasRole('ROLE_COORDINADOR_UFI') or hasRole('ROLE_SECRETARIA')">
                                        <a href="#" title="Reportes de compras" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reportes de compras</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" th:href="${(#mvc.url('EGC#adicionar')).build()}" title="Estadisticas">Estadistica por especificos</a></li>

                                        </ul>
                                    </li>-->
                                </ul>
                            </li>
                            <li class="dropdown-main" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_ADMIN_PERSONAL')">
                                <a href="#"  title="Aplicación de Planillas" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Planilla <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-submenu">
                                        <a href="#" title="Gestión de descuentos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" sec:authorize="hasRole('ROLE_ADMIN')">Haber/Descuentos</a>
                                        <ul class="dropdown-menu " role="menu">
                                            <!-- <li><a href="#" th:href="@{/banco/emitirCheque/nuevoCheque}">Emitir cheque</a></li> -->
                                            <li><a href="#" th:href="${(#mvc.url('DC#listar')).build()}" title="Gestion de descuentos" >Catálogo haberes/descuentos</a></li>
                                            <li><a href="#" th:href="${(#mvc.url('DTC#listar')).build()}" title="Gestión de tipos de haber/desceunto">Tipos de haber/descuento</a></li>

                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" title="Gestión de Empleados" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Empleados</a>
                                        <ul class="dropdown-menu " role="menu">
                                            <li><a href="#" th:href="${(#mvc.url('EC#listar')).build()}" title="Gestionar puestos y haberes/descuentos">Altas y bajas </a></li>
                                            <li><a href="#" th:href="${(#mvc.url('EC#gestionarDescuentoPuesto')).build()}" title="Gestionar  empleado">Gestionar empleado </a></li>                                           
                                            <li><a href="#" th:href="${(#mvc.url('EC#gestionarPermisoCompensatorio')).build()}"  title="Gestionar permisos y compensatorios">Permisos, Horas Extras y Compensatorios </a></li>



                                        </ul>
                                    </li>


                                    <li class="dropdown-submenu">
                                        <a href="#" title="Gestión de Planillas" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Planillas</a>
                                        <ul class="dropdown-menu " role="menu">

                                            <li ><a href="#" th:href="@{/planilla/planillero/listar}">Gestión de Planillas</a></li>
                                            <li ><a href="#" th:href="@{/planilla/tardia/asistencia}">Asistencia de empleados</a></li>
                                            <li ><a href="#" th:href="@{/planilla/tablarenta/listar}"  sec:authorize="hasRole('ROLE_ADMIN')">Gestion de tablas renta</a></li>

                                        </ul>
                                    </li>
                                     




                                </ul>
                            </li>
                            <li class="dropdown-main" >
                                <a href="#"  title="Aplicación de Gestión de Personal" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Administración <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">

                                    <li class="dropdown-submenu"  sec:authorize="hasRole('ROLE_ADMIN_PERSONAL')">
                                        <a href="#" title="Seguridad" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Seguridad del sistema </a>
                                        <ul class="dropdown-menu " role="menu">

                                            <li class="dropdown-submenu">
                                                <a href="#" title="Gestión de Usuarios" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gestión Usuarios</a>
                                                <ul class="dropdown-menu " role="menu">
                                                    <li ><a href="#" th:href="@{/public/usuario/empleado/show}">Crear usuario</a></li>

                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="#" title="Gestión de Roles" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gestión Roles</a>
                                                <ul class="dropdown-menu " role="menu">
                                                    <li ><a href="#" th:href="@{/public/persona/listar}">Empleados</a></li>

                                                </ul>
                                            </li>


                                        </ul>
                                    </li>
                                   <li class="dropdown-submenu">
                                        <a href="#" title="Gestión de Institución" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Institución</a>
                                        <ul class="dropdown-menu " role="menu">
                                            <li ><a href="#" title="Gestión Institución" th:href="@{/publico/institucion/listar}"  sec:authorize="hasRole('ROLE_ADMIN')">Gestionar Intitución</a></li>
                                            <li ><a href="#" title="Gestión de puestos" th:href="@{/publico/puesto/listar}"  sec:authorize="hasRole('ROLE_ADMIN')">Catálogo de puestos</a></li>
                                            <li ><a href="#" th:href="@{/publico/unidadPuesto/asignar}" >Asignar puestos por unidad</a></li>
                                            <li ><a href="#" th:href="@{/publico/unidadOrganizativa/listar}" >Unidad organizativa</a></li>
                                        </ul>
                                    </li>
                                    <li ><a href="#" th:href="@{/publico/credito/creditos}">Créditos SIGAS</a></li>

                                    <!--   <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/publico/plantillaDocumento/listar}">Administrar Documentos</a></li>
                                    -->
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown-main" sec:authorize="isAuthenticated()">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user-circle"></i>  <span sec:authentication="name"></span> </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" th:href="@{/public/usuario/editar/user}"><i class="fa fa-edit"></i> Editar Usuario</a></li>
                                    <li><a th:class="no-change" th:href="@{/logout}" title="Salir del sistema"  ><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li>


                                </ul>
                            </li>
                            <li  >

                            </li>
                        </ul>

                    </div>
                </div>
            </nav>




        </div>

        <div th:fragment="javascript">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script th:src="@{/js/bootstrap/js/bootstrap.bundle.js}"></script>
            <script th:src="@{/js/fontawesome/js/all.js}"></script>
            
            
        </div>
        
        
        
        <footer class="footer-basic-centered page-footer"   th:fragment="footer">



            <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/datatables.min.js}"></script>
            <script th:src="@{/js/inputmask/dist/jquery.inputmask.bundle.js}"></script>
            <script th:src="@{/js/inputmask/dist/inputmask/bindings/inputmask.binding.js}"></script>
            <script th:src="@{/js/wait/waitMe.min.js}"></script>
            <script th:src="@{/js/noty/lib/noty.min.js}"></script>
            <script th:src="@{/js/select2.min.js}"></script>
            <script th:src="@{/js/chosen/chosen.jquery.min.js}"></script>
            <script th:src="@{/js/validation/jquery-maxlength.js}"></script>
            <script th:src="@{/js/js/jquery.treegrid.min.js}"></script>
            <script th:src="@{/js/moment.min.js}"></script>
            <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
            <script th:src="@{/js/bootstrap-validator/dist/validator.min.js}"></script>
            <script th:src="@{/js/steps/jquery.steps.js}"></script>
            
            <script th:src="@{/js/jquery.fileDownload.js}"></script>
            <script th:src="@{/js/jquery-ajax-native.js}"></script>

            
            <script th:src="@{/js/Chart/Chart.bundle.min.js}"></script>
            <script th:src="@{/js/Chart/Chart.min.js}"></script>
            
             <script th:src="@{/js/initUtility.js}"></script>
            <script th:src="@{/js/crud/crudGenerico.js}"></script>
            
            <script type="text/javascript">
                
                jQuery().ready(function () {
                    var contenedor = "#content-work";
                    initMenu();
                    
                    $(document).ajaxStart(function () {
                        $(contenedor).waitMe({
                            effect: 'bounce',
                            text: 'Cargando...',
                            bg: 'rgba(255,255,255,0.7)',
                            color: '#000'
                        });
                    });
                    $(document).ajaxComplete(function () {
                        $(contenedor).waitMe('hide');

                    });

                    

                    $(document).ajaxError(function (event, jqxhr) {
                        $(contenedor).waitMe('hide');

                        switch (jqxhr.status) {
                            case 403:
                                $("body").html(jqxhr.responseText);
                                break;
                            case 404:
                                $("body").html(jqxhr.responseText);
                                break;
                            case 500:
                                $("body").html(jqxhr.responseText);
                                break;

                            case 501:
                                var error = JSON.parse(jqxhr.responseText);
                                mensajeAlert(error.message, 'error');
                                break;
                            default :
                                var error = JSON.parse(jqxhr.responseText);
                                console.log(error.message);
                                mensajeAlert("Falló la operación solicitada", 'error');
                                break;

                        }


                    });

                    $.ajaxSetup({
                        async: true,
                        beforeSend: function (xhr) {
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            xhr.setRequestHeader(header, token);
                        }
                    });


                });

            </script>

            <p class="footer-company-motto">Secretaría de Cultura de San Salvador</p>


            <p class="footer-company-name">Universidad de El Salvador &copy; 2017</p>


        </footer>
    </body>
</html>
