<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:fragment="header">
        <title>Vote App</title>
        <meta charset="UTF-8"/>
   <!--      <meta th:name="_csrf" th:content="${_csrf.token}" />
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
 -->
 
        <link href="#" th:href="@{/css/bootstrap/css/bootstrap.css}" rel="stylesheet" />
          <link href="#" th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet" />
        
        
    </head>
    <body >


        <div th:fragment="javascript">
           
            <script th:src="@{/js/jquery-3.4.1.min}"></script>
            <script th:src="@{/js/popper.min.js}"></script>
            <script th:src="@{/js/bootstrap/js/bootstrap.bundle.js}"></script>
            <script th:src="@{/js/fontawesome/js/all.js}"></script>
            
            
        </div>
        
        
        
    </body>
</html>
