<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: header"></head>
    <body >
        
        <div class="container" >
           
           
           <div class="welcome text-center">
                <img th:src="@{/imgs/logo-app.png}" alt="" class="img img-responsive" style="width: 120px" /> 
               <br/>
                <span align="center" style="font-size: 3em;"><b>Wellcome to Vote App</b></span>
            </div>
           
          
			<a class="btn btn-outline-secondary" th:href="@{/logout}" title="Logout"  style="float: right;"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>



          <div style="margin-top: 100px">
          
          
                 <h3>List of committees in <span th:text="${country}" style="color: #007bff"></span></h3>
			<table class="table table-hover  " style="margin-top: 50px">
					  <thead class="thead-dark">
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Name</th>
					      <th scope="col">Department</th>
					      <th scope="col">Candidates</th>
					      <th scope="col">Vote</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="committee, index : ${committees}" >
					      <th scope="row"  th:text="${index.count}"></th>
					      <td th:text="${committee.name}"></td>
					      <td th:text="${committee.departmentId.name}"></td>
					      <td th:text="${committee.candidateList.size()}"></td>
					       <td >

					       <a class="btn btn-outline-primary" 
					       		   th:href="@{/committee/__${committee.id}__/candidates}" 
							       title="Vote for a candidate"  
							       style="float: right;">
							       <i class="fa fa-vote-yea" aria-hidden="true"></i>
							        Vote 
					        </a>
					       
					       </td>
					    </tr>
					  </tbody>
			</table>
          </div>

        </div>   
      

    </body>
</html>
